#demobanner{
    position:absolute;
    top:0;
    right:0;
    overflow:hidden;
    z-index:50000;
    height:110px;
    width:100px;
}

#demobanner>div{
    float:right;
    width:300px;
    z-index:50001;
    margin-right:-130px;
    margin-top:15px;

    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
    background: linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

    padding:10px;
    font-size:25px;
    color: #000;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;
    text-align:center;

    border-top:1px solid #ccc;
}

.main-area{
   background-color: #E3E3E3;
   border-radius: 6px 6px 6px 6px;
   text-align: center;
   align: center;
 }
 
 .note{
    background: repeat-x scroll 50% 50% #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    color: #1C94C4;
    font-weight: bold;
    outline: medium none;
 }
 
 .hero-unit-myversion {
    background-color: #5E768D;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 60px;
    float: auto; 
    margin-right: 30px; 
    margin-left: auto;
    
}

.myDiver{
     min-height:50px;
     height:auto !important;
     height:50px; 
}

.placeHolderBG {
 	background: repeat-x scroll 50% 50% #D3D3D3;
 	border-radius: 6px 6px 6px 6px;
 	border: 1px dotted black;
}

.uiEffects {
  -webkit-box-shadow:#333333 0 4px 6px;
  border-radius: 6px 6px 6px 6px;
  background-attachment:initial;
  background-clip:initial;
  background-color:initial;
  background-image:-webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 100%);
  background-origin:initial;
  background-position:initial initial;
  background-repeat:initial initial;
  border-top-color:#CCCCCC;
  border-top-style:solid;
  border-top-width:1px;
  box-shadow:#333333 0 4px 6px;
  color:#000000;
  z-index:50001;
}

.topCorner{
 	display:block;
    position:relative;
 	top:-25px;
 	left:20px;
}

.closeMe{
  color:#000000;
  float:right;
  font-size:15px;
  font-weight:bold;
  line-height:15px;
  opacity:0.4;
  text-shadow:#FFFFFF 0 1px 0;
}