#{extends 'main.html' /}
#{set title:'Home' /}


<style>
	${cssStr} { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; }
	${cssStr2} { margin: 0 5px 5px 5px; padding: 25px; font-size: 1.2em; width: 308px; }
	
.main-area{
   background-color: #F5F5F5;
   border-radius: 6px 6px 6px 6px;
   text-align: center;
   align: center;
 }
 
 .note{
    background: repeat-x scroll 50% 50% #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #1C94C4;
    font-weight: bold;
    outline: medium none;
 }
 
 .hero-unit-myversion {
    background-color: #333333;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 60px;
}

</style>

	<script>
		
	$(function() {
	
		$( "${cssStr}" ).sortable({
			placeholder: "ui-state-highlight"
		});
		
		$( "${cssStr}" ).sortable({
			connectWith: ".connectedSortable"
		}).disableSelection();
				
	});
	
	</script>
<div id="myModal" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>About</h3>
	</div>
	<div class="modal-body">
		
		<p>Exempel på vad man kan åstadkomma med<br/> HTML5, JQuery, Google App
			Engine och Play Framework.</p>

	</div>
</div>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kanban Board</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a data-toggle="modal" href="#myModal">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit-myversion">
	
		<div class="row">
			<!-- Loop starts here -->
			#{list items:noterows, as:'noterow'}

			<div class="span4 main-area">
				<h2>${noterow.title}</h2>
				<ul id="sortable${noterow.id}" class="connectedSortable span${noterow.id}">
				
					#{list items:noterow.notes, as:'note'}
						<li class="note">${note.title}</li> 
					#{/list}
				
					<div class="input">
						<input type="text" size="30" name="addnote${noterow.id}" id="addnote${noterow.id}" class="xlarge">
					</div>
					<br/>
					<input type="button" class="btn" id="button${noterow.id}" onClick="javascript:sendIt('${noterow.id}')" value="Add">
					<br/>
				</ul>
			</div>
			#{/list}					
		</div>
		<!-- Loop ends here -->
	</div>



	<hr>
	<!-- /container -->
	
	<script type="text/javascript" charset="utf-8">
	
		function sendIt(str) {
			var tmp = "addnote" + str;
			var tmp2 = ".span" + str;
			
				$.post('@{addNewNote()}', {id: str, title: document.getElementById(tmp).value}, function(jsonNote) {
				$(tmp2).prepend(
					'<li class="note">'+jsonNote.title+'</li>'
				)
			}, 'json')
		}
	
	</script>
	