#{extends 'main.html' /}
#{set title:'Home' /}

<style>
	${cssStr} { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; }
	#sortable2 li,#sortable1 li { margin: 0 5px 5px 5px; padding: 25px; font-size: 1.2em; width: 320px; }
</style>
	<script>
	
	
	$(function() {
	
		$( "${cssStr}" ).sortable({
			placeholder: "ui-state-highlight"
		});
		
			$( "${cssStr}" ).sortable({
				connectWith: ".connectedSortable"
			}).disableSelection();
		
	});
	
	</script>
	
	#{list items:noterows, as:'noterow'}
			<ul id="sortable${noterow.id}" class="connectedSortable">
			
				#{list items:noterow.notes, as:'note'}
					<li class="ui-state-default">${note.title}</li>
				#{/list}
			</ul>
		#{/list}

	


