#{extends 'main.html' /}
#{set title:'Home' /}


<style>
	${cssStr} { list-style-type: none; margin: 5px 5px 5px 5px; padding: 0; float: auto; }
	${cssStr2} { margin: 5px 5px 5px 5px; padding: 25px; font-size: 1.2em; float: auto; margin-right: auto; margin-left: auto; }
	
.main-area{
   background-color: #E3E3E3;
   border-radius: 6px 6px 6px 6px;
   text-align: center;
   align: center;
 }
 
 .note{
    background: repeat-x scroll 50% 50% #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    color: #1C94C4;
    font-weight: bold;
    outline: medium none;
 }
 
 .hero-unit-myversion {
    background-color: #5E768D;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 60px;
    float: auto; 
    margin-right: 30px; 
    margin-left: auto;
    
}

.myDiver{
     min-height:50px;
     height:auto !important;
     height:50px; 
}

input {
	width: 85%; height: 45px; padding: 20px 20px 0px 20px; margin: 0px 0px 0px 0px; 
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-shadow: 0px -1px 0px #334f71; 
	float: auto; margin-right: auto; margin-left: auto;
}

input:focus {
	background: #728eaa;
	background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
	float: auto; margin-right: auto; margin-left: auto;
}
</style>

	<script>
	
	function create( template, vars, opts ){
		return $container.notify("create");
	}
			
	$(function() {
		
		$container = $("#container-bottom").notify({ stack:'above' });
		
		$("${cssStr}").sortable({
	        connectWith: '.connectedSortable',
	        placeholder: "ui-state-highlight",
	        start: function(event, ui) {
	        	ui.placeholder.height(ui.item.height());
	            item = ui.item;
	            newList = oldList = ui.item.parent();
	            startIndex =  ui.item.index();
	        },
	        stop: function(event, ui) { 
	        	var noteId = item.attr('id');
	        	updateNotePos(noteId, startIndex, ui.item.index(), oldList.attr('cleanid'), newList.attr('cleanid'));
	        },
	        change: function(event, ui) {  
	            if(ui.sender) newList = ui.placeholder.parent();
	        }   
		});
		$("${cssStr}").disableSelection();
	});
	
	</script>
	
<div id="myModal" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>About</h3>
	</div>
	<div class="modal-body">
		
		<p>Exempel p&aring; vad man kan &aring;stadkomma med HTML5, JQuery, BootStrap, Heroku och Play Framework.</p>
	<ul class="thumbnails">
	 
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="@{'/public/images/play_logo.png'}" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="@{'/public/images/jquery_logo.png'}" alt="">
          </a>
        </li>
        
       <li class="span2">
          <a href="#" class="thumbnail">
            <img src="@{'/public/images/heroku_logo.png'}" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="@{'/public/images/html5_logo.png'}" alt="">
          </a>
        </li>
      </ul>
	</div>
</div>

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kanban Board</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a data-toggle="modal" href="#myModal">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

   <!--   <div class="container">-->
   <div>

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit-myversion">
	<!-- set the container hidden to avoid a flash of unstyled content
when the page first loads -->

		<div class="row-fluid">
			<!-- Loop starts here -->
			#{list items:noterows, as:'noterow'}

			<div class="span4 main-area">
				<h2>${noterow.title}</h2>
				<ul id="sortable${noterow.id}" cleanid="${noterow.id}" class="connectedSortable posRow${noterow.id} myDiver">
				
					#{list items:noterow.notes, as:'note'}
						<li id="${note.id}" positionInRow="${note.positionInRow}" class="note">${note.title}</li> 
					#{/list}
					
				</ul>
				
						<div id="addToggle${noterow.id}" style="display: none" class="input">
								<input type="text" size="50" name="addnote${noterow.id}"
									id="addnote${noterow.id}" class="xlarge">
									<br/>
									<input type="button" class="btn" id="button${noterow.id}" onClick="javascript:sendIt('${noterow.id}')" value="Add">
					
							</div>
						
				<a id="addNoteToggle${noterow.id}" onclick="javascript:toggleAdd('${noterow.id}')" class="btn" href="#">Add Note</a>
			</div>		
			#{/list}					
		</div>
		<!-- Loop ends here -->
	</div>

<div style="visible: none" id="identifyStr"></div>



	<hr>
	<!-- /container -->
	
	<script type="text/javascript" charset="utf-8">
	
	// Create a socket   
	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
    var socket = new WS('@@{Application.WebSocket.listen}')
	
		// Message received on the socket
		socket.onmessage = function(event) {
			var data = event.data.split(";");
			var type = data[0];
			var identify = data[1];
			
			if(document.getElementById("identifyStr").value != identify) {
				create("container-bottom", { });
			}	
			
			if(type == "add") {
				var noteRowId = data[2];
				var title = data[3];
				var noteID = data[4];
				var positionInRow = data[5];
				var tmp2 = ".posRow" + noteRowId;
				$(tmp2).append('<li id="'+ noteID +'" positionInRow="'+positionInRow+'" class="note">' + title +'</li>')
				
			} else if(type == "moved") {
				var id = data[2];
				var title = data[3];
				var to = data[4];
				var positionInRow = data[5];
				
				
				if(document.getElementById("identifyStr").value != identify) {//RECEIVER
					document.getElementById(id).style.display = "none";
					$(".posRow" + to).append('<li id="'+ id +'" positionInRow="'+positionInRow+'" class="note">' + title + '</li>')
					
					
					//Iterate over list and change positionValue
					$("ul#sortable"+to).children('li').each(function(newPos, elm) {
						  //alert("title: " + elm.firstChild.nodeValue + " elm: " + elm.getAttribute("positionInRow") + "new pos: " + newPos);
						  if(elm.getAttribute("positionInRow") >= positionInRow && elm.getAttribute("id") != id) {
						 	 elm.setAttribute("positionInRow", parseInt(elm.getAttribute("positionInRow")) + 1);
						  }
					});
					
					$("ul#sortable" + to+">li").tsort({order:'asc',attr:'positionInRow'});
				} 	
			}
		}
	
		function whoAmI(noteRowId, noteId, postionInRow) {
			alert("I'm in row " + noteRowId + " my note id is " + noteId
					+ " and my position is " + postionInRow);
		}

		function toggleAdd(str) {
			document.getElementById("addToggle" + str).style.display = "block";
			document.getElementById("addNoteToggle" + str).style.display = "none";
			document.getElementById("addnote" + str).focus();
		}

		function updateNotePos(noteId, startUiIndex, stopUiIndex, fromList,
				toList) {
			$.post('@{updateNotePosition()}', {
				noteId : noteId,
				startUiIndex : startUiIndex,
				stopUiIndex : stopUiIndex,
				fromList : fromList,
				toList : toList,
				identify: document.getElementById("identifyStr").value
			})

		}

		$(function() {
			$("input:text[name*='addnote']").bind("keyup", function(e) {
				if (e.which == '13') {
					var idTmp = this.id;
					idTmp = idTmp.replace("addnote", "");
					sendIt(idTmp);
				}
			});
		});

		function sendIt(str) {
			var tmp = "addnote" + str;
			var tmp2 = ".posRow" + str;
			var tmp3 = "addToggle" + str;
			var tmp4 = "addNoteToggle" + str;
			
			$.post('@{addNewNote()}', {
				id : str,
				title : document.getElementById(tmp).value,
				text : "",
				identify: document.getElementById("identifyStr").value
			}, function(jsonNote) {
				 }, 'json')
			document.getElementById(tmp).value = '';
			document.getElementById(tmp3).style.display = "none";
			document.getElementById(tmp4).style.display = "inline";
		}
		
		var newDate = new Date;
		document.getElementById("identifyStr").value = newDate.getTime();
		
	</script>

<!--- second container -  bottom notifications --->
	<div id="container-bottom" style="top:auto; left:0; bottom:0; margin:0 0 10px 10px;display: none">
		<div>
			<div style="float:left;margin:0 10px 10px 10px"><img src="@{'/public/images/info-icon.png'}" alt="info" /></div>
			<p>INFO!</p>
			<p>Another user is currently updating the board, wait for the screen to update!</p>
		</div>
	</div>