<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
       
        <meta name="author" content="Harald Eilert">
  		<meta name="keywords" content="Websockets, Play Framework, Heroku cloud, Harald Eilert, Pusher, Digital Kanban Board">
  
  		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  		<meta http-equiv="expires" content="0"/>
  		<meta http-equiv="pragma" content="no-cache"/>
        
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/ui.notify.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/css/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/css/bootstrap-responsive.css'}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
        
	<style type="text/css">
      body {
      	 font-family: 'Open Sans', serif; 
      }
    </style>
    #{get 'moreStyles' /}
   
	<!--Jquery-->
   	<script src="@{'/public/javascripts/libs/jquery-1.7.1.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/libs/jquery.ui.core.js'}"></script>
	<script src="@{'/public/javascripts/libs/jquery.ui.widget.js'}"></script>
	<script src="@{'/public/javascripts/libs/jquery.ui.mouse.js'}"></script>
	<script src="@{'/public/javascripts/libs/jquery.ui.sortable.js'}"></script>
	<script src="@{'/public/javascripts/libs/jquery.notify.js'}"></script>
	<script src="@{'/public/javascripts/libs/jquery.tinysort.min.js'}"></script>
	<script src="@{'/public/javascripts/libs/jquery.ui.touch-punch.js'}"></script>

	<!--Bootstrap-->
    <script src="@{'/public/javascripts/libs/bootstrap/modal.js'}"></script>
    <script src="@{'/public/javascripts/libs/bootstrap/tooltip.js'}"></script>
    <script src="@{'/public/javascripts/libs/bootstrap/popover.js'}"></script>
	<script src="@{'/public/javascripts/libs/bootstrap/transition.js'}"></script>
	<script src="@{'/public/javascripts/libs/bootstrap/collapse.js'}"></script>
	
	<!-- Pusher -->
	<script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
    
	#{get 'moreScripts' /}
        
       <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
<div id="myWhoAmI" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Harald Eilert<a href="http://www.linkedin.com/in/haraldeilert" target="_blank"><img src="@{'/public/images/linkedin.png'}"/></a></h3>
	</div>
	<div class="modal-body about">
	I live in Malm&ouml;, a city in the south of Sweden, with my wife and two daughters. Work as a programmer mainly focusing on Java and the web.
	Just came back from 10 months of parental leave hence the eager to catch up on new technology!
	</div>
</div>

<div id="myModal" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h2><span>About</span></h2>
	</div>
	<div class="modal-body about">
		A demo(spike) of a Kanban Board where you can move, edit and delete notes. The cool thing is that all changes you make are updated in real time to other connected clients. 
		<br/><br/>At first I built this to test <a href="http://www.playframework.org/" target="_blank">Play</a> framework 1.2.4(Yes I know 2.0 is just launched but I didn't feel like playing around with a beta version at the time.) 
		I might rewrite it to 2.0 soon if I get some time!<br/><br/>
		After seeing <a href="http://www.enterlab.dk" target="_blank">Enterlabs</a> new website I found <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> which helped me get into html5 quickly.
		<a href="http://jquery.com/" target="_blank">Jquery</a> was a blessing as always. I really want to use <a href="http://coffeescript.org/" target="_blank">Coffescript</a> to clean up the messy jquery/javascript code in the future..<br/><br/>
		To implement websockets was really easy until I wanted to move the code to a cloud service, seems like there isn't a cloud service that supports websockets at the moment. 
		Then I found out about <a href="http://pusher.com/">Pusher</a>(which is a great danish movie as well) and that was even easier and worked on <a href="http://www.heroku.com/" target="_blank">Heroku</a> cloud service!
		Should mention that the sandbox version of Pusher that I use only supports 20 connections.<br/><br/>
		Browser support is the newest versions of Chrome, Safari and Firefox.. IE users need to find paper and pen and make their own board! ;-)
	</div>
</div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Kanban Board</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a data-toggle="modal" href="#myModal">About</a></li>
              <li><a data-toggle="modal" href="#myWhoAmI">WhoAmI</a></li>
              <li><a href="/admin">Admin login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

	#{doLayout /}
   <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-30089584-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 	 })();

  </script>
    </body>
</html>
