<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/ui.notify.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/css/bootstrap-responsive.min.css'}">
            <style type="text/css">
      body {
        padding-top: 60px;
         padding-left: 20px;
        padding-bottom: 40px;
      }
    </style>
    #{get 'moreStyles' /}
   
	<!--Jquery-->
   	<script src="@{'/public/javascripts/libs/jquery-1.7.1.min.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/libs/jquery.ui.core.js"></script>
	<script src="/public/javascripts/libs/jquery.ui.widget.js"></script>
	<script src="/public/javascripts/libs/jquery.ui.mouse.js"></script>
	<script src="/public/javascripts/libs/jquery.ui.sortable.js"></script>
	<script src="@{'/public/javascripts/libs/jquery.notify.js'}"></script>

	<!--Bootstrap-->
    <script src="@{'/public/javascripts/libs/bootstrap/modal.js'}"></script>
    <script src="@{'/public/javascripts/libs/bootstrap/tooltip.js'}"></script>
    <script src="@{'/public/javascripts/libs/bootstrap/popover.js'}"></script>
    
     
	#{get 'moreScripts' /}
        
    </head>
    <body>
	<header>
		<div id="betabanner">
			<div>Demo</div>
		</div
	</header>

	#{doLayout /}
   
    </body>
</html>
